@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");
nav {
  min-height: 20vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 208, 233);
  flex-wrap: wrap;
}

nav div {
  flex: 1 1 25rem;
}

.logo-container img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.logo-container h2 {
  color: rgb(27, 31, 28);
  font-family: "Praise", cursive;
  font-size: 2em;
}
@media screen and (max-width: 740px) {
  .logo-container h2 {
    text-align: center;
  }
}
.link-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link-container ul li {
  margin: 1em auto;
  color: black;
  font-size: 1.3rem;
}
.link-container ul li a {
  color: black;
  font-size: 1.3rem;
}

/* dark mode */
.dark {
  background-color: rgb(29, 27, 27);
  color: white;
}
.list-dark {
  color: white;
}
.link-container.dark {
  color: whitesmoke;
}
